<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon"
          href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Výchozí webová stránka | Java 2</title>
</head>
<body>
    <div class="page">

        <h1>Bezdomovci</h1>
        <!--/*@thymesVar id="seznamBezdomovcu" type="java.util.List<cz.czechitas.webapp.Clovek>"*/-->

        <!--Formulář s obrázky bezdomovců a dvěmi Radio Buttony na výběr mezi profesorem a bezdomovcem-->
        <form method="post">
            <table>
                <tr th:each="jedenBezdomovec : ${seznamBezdomovcu}">
                    <td><img id="obrazek" th:src="${jedenBezdomovec.obrazek}"
                             src="../static/images/obliceje/man1.jpg">
                        <span id="radioButton">
                    <input type="radio"
                           name="man1" th:name="${jedenBezdomovec.jmeno}"
                           id="r1" value="1">
                    <label for="r1">profesor</label>
                    <input type="radio"
                           name="man1" th:name="${jedenBezdomovec.jmeno}"
                           id="r2" value="2">
                    <label for="r2">bezdomovec</label>
                        </span>
                    </td>
                </tr>
            </table>

            <input type="submit" value="Odeslat" id="tlatitko">
        </form>

    </div>
</body>
</html>
